doctype tranditional
html(lang="en")
    head
        link(rel="stylesheet" href="style.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title. 
         Document
         zz zz 
         zz
    body 

    
        h1 Conditon(if) Method
        - let user = {name: "Domenic", loggedIn: false, lastLogin: 6}
        if user.loggedIn 
            p 
                | Welcome back,
                strong #{ user.name }
        else 
            a(href="/login") Login
                 

        h1 Iterator Method 
        //- const names = ["Minsu", "Robert", "Client", "Tom", "Jito"]
        - const infos = {"Backend" : 97, "FrontEnd" : 98, "Fullstack" : 96}
        for n, i in infos
            p= n + " - " + i
        else
            strong No values are here!
        p Body Text
        .display-box
            h1#pageTitle First Page Title 
            p.big-para. 
                2313 
                </br>
                123123
            p.big-para. 
                0510
                </br>
                Yerin Baek
        input(type="password" name="inpPwd" data-js=`$(5 > 2 ? "OK" : "Not OK")`)
        
        - const myClasses = ["cls1", "cls2", "cls3"]
        div.myclass(class=myClasses)
                                            
        
        - const myStyles = {"color" : "red", "background-color" : "blue"}
        div(style=myStyles)
            p CSS text
        - const myAttrs = {"src" : "https://img.youtube.com/vi/8rB4L675f5M/mqdefault.jpg", "alt" : "This is my photo"}
        img&attributes(myAttrs)

        </br>
        input(type="text" disabled)

