doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title. 
         Document
         zz zz 
         zz
    body 
        .display-box
            h1#pageTitle First Page Title 
            p.big-para. 
                2313 
                </br>
                123123
            p.big-para. 
                0510
                </br>
                Yerin Baek
        input(type="password" name="inpPwd" data-js=`$(5 > 2 ? "OK" : "Not OK")`)
        
            